* {
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 3px;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgba(72, 220, 167, 0.5);
    position: fixed;
    height: 50px;
    width: 100%;
    margin: 0 0;
    padding: 10px;
    top: 0;
    left: 0;
}

h1 {
    font-size: 30px;
    padding-top: 60px;
}

.introduzione h3 {
    margin-top: 10px;
    width: 100%;
    margin-left: 20px;
    font-size: 18px;
}

h4 {
    margin-top: 10px;
    font-size: 18px;
}


img .bandiere {
    margin-top: 10px;
}

.bandiera-italiana {
    margin-right: 13px;
    margin-left:auto;
}

.competenze {
    padding-top: 5px;
}

.introduzione img {
    width: 100%;
    margin: 0 auto;
}

.introduzione h3 {
    margin: 0;
    padding: 10px 0px 5px 0px;
}
    
@media only screen and (min-width: 1000px)  {

    .introduzione img {
        display: inline-block;
        vertical-align: middle;
        height: 250px;
        width: 500px;
        margin-right: 40px;
        margin-left: 0;
    }
    
    .introduzione {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .introduzione h3 {
        margin: 0;
        font-size: 20px;
    } 
    
    .competenze {
        padding-top: 10px;
    }

 }
